---
const allPosts = await Astro.glob('../posts/peliculas/*.md');
---

<script>
  
  const showButtons = document.querySelectorAll(".show-button");

  // Itera sobre cada botón y agrega un listener de eventos
  showButtons.forEach((button, index) => {
    button.addEventListener("click", function () {
      // Encuentra el diálogo asociado usando el índice del showbutton
      const alertDialog = document.querySelector(`#alert-dialog-${index}`);
      alertDialog.showModal();
    });
  });
  
</script>

...

<ul class=" w-10/12 h-auto text-white shadow-2xl shadow-white mx-auto flex flex-row flex-wrap justify-between items-center">
  {allPosts.map((post, index) => (
    <li>

      <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} 
           class="show-button w-56 cursor-pointer m-2" title={post.frontmatter.title + "\n" + post.frontmatter.description} data-index={index}>

      <dialog id={`alert-dialog-${index}`} class="w-4/5 h-auto bg-[#13151a] text-white">
        <button onClick="this.parentElement.close()" class="text-2xl text-red-500">X</button>

        <section class=" w-full h-full flex flex-row">
        
        <div class="w-6/12 flex flex-col">
        <img src={post.frontmatter.image.url} alt={post.frontmatter.title} class="w-full h-auto">
        <p class="mt-5 text-2xl"> <mark>{post.frontmatter.tags}</mark> </p>
        </div>

        <div class="text-balance ml-10">
          <h1>{post.frontmatter.title}</h1>
          <h2>{post.frontmatter.date}</h2>
          <p> {post.frontmatter.description}</p>
          <iframe id="video" src={post.frontmatter.video} allowfullscreen width="640" height="480" loading="lazy" title={post.frontmatter.title} class="mt-10" ></iframe>
        </div>
      
      </section>
      </dialog>
    </li>
  ))}
  </ul>

  <script>
    import videojs from 'video.js'

    let reproductor = videojs('video', {
      fluid: true
    })
</script>