---
import BaseLayout from "../layouts/BaseLayout.astro";
let title = "El Blog De Pelis - Series";
const mdPosts = await Astro.glob('../posts/series/Mr/*/*.md');

// Foreach de los posts de los .md en local y de keystatic
const allPosts = mdPosts
---

<!DOCTYPE html>
<html lang="es">
<head>
<script src="./app.js"></script>
</head>

<body>

  <ul id="listPosts" class="w-10/12 h-auto text-white shadow-2xl shadow-white mx-auto flex flex-row flex-wrap justify-between items-center">
    {allPosts.map((post, index) => {
      const isMarkdown = 'frontmatter' in post;
      const title = isMarkdown ? post.frontmatter.title : post.entry.title;
      const description = isMarkdown ? post.frontmatter.description : post.entry.description;
      const fecha = isMarkdown ? post.frontmatter.date : post.entry.fecha;
      const video = isMarkdown ? post.frontmatter.video : post.entry.video;
      const image = isMarkdown ? post.frontmatter.image.url : post.entry.image.url;

      return (
        <li class="post-item">
          <img src={image} alt={title} 
               class="show-button w-56 cursor-pointer m-2" title={`${title}\n${description}`} data-index={index}>

          <dialog id={`alert-dialog-${index}`} class="w-4/5 h-full bg-[#13151a] text-white animate- ">
          <button class="text-3xl text-[#13151a] bg-emerald-500 fixed top-5 left-5 hover:text-red-500 hover:scale-150">X</button>

          <section class=" w-full h-full flex flex-row">
          
          <div class="w-6/12 flex flex-col">
          <img src={image} alt={title} width="220px" height="auto" class="max-w-[220px]">
          <p class="mt-5 text-base">{isMarkdown ? post.frontmatter.tags : post.entry.tags}</p>
          </div>

          <div class="text-balance ml-12">
            <h1 class="uppercase">{title}</h1>
            <h2>{fecha}</h2>
            <p>{description}</p>

            <div class="video-container w-full h-1/2">
              <iframe 
                id={`video-${index}`} 
                src={video} 
                class="mt-10 w-3/4 h-full" 
                allowfullscreen 
                loading="lazy"
                title={title} ></iframe>
            </div>

            <div class="buttons flex flex-row justify-between items-center">
              <button class="bg-emerald-500 w-32 h-10 mt-5 hover:bg-yellow-500">Anterior episodio</button>
              <button id="next" class="bg-emerald-500 w-32 h-10 mt-5 hover:bg-yellow-500" data-video="https://www.youtube.com/embed/8LK1EJpytzU">Siguiente episodio</button>
            </div>

          </div>
        
        </section>
        </dialog>
      </li>
    )})}
  </ul>

  
</body>
</html>